<div class="wrapper">
  <header class="header">
    <p>{{title}}</p>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </header>

  <article class="main">
    <p>Welcome to {{title}}.com</p>
  </article>

  <aside class="aside aside-1">Aside 1</aside>
  <aside class="aside aside-2">Aside 2</aside>
  <footer class="footer">2016 Red Hendery</footer>
</div>
